<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
		
		<bean id="memoryStorage"
			   class="ru.job4j.introduction.MemoryStorage">
		</bean>
		<bean id="ImportUser" 
			class="ru.job4j.introduction.ImportUser">
			<constructor-arg ref="memoryStorage"/>
		</bean>
		
		<context:component-scan base-package="ru.job4j.music"></context:component-scan>
		<!--          Music Player Part         -->
		<!-- <context:property-placeholder location="classpath:musicPlayer.properties"/>
		<bean id="classicalMusic"
			class="ru.job4j.music.ClassicalMusic">
		</bean>
		<bean id="rockMusic" 
			class="ru.job4j.music.RockMusic">
		</bean>
		<bean id="popMusic"
			class="ru.job4j.music.PopMusic">
		</bean>
		<bean id="musicPlayer"
			class="ru.job4j.music.MusicPlayer">
			<property name="name" value="${musicPlayer.name}"/>
        	<property name="volume" value="${musicPlayer.volume}"/>
			<property name="music">
				<list>  
					<ref bean="classicalMusic"/>  
					<ref bean="rockMusic"/>
					<ref bean="popMusic"/>    
				</list>  
			</property>
		</bean> -->
		<!--       /Music Player Part        -->
</beans>